mixin homePara
  h1 About Shiba Inus
  article
    img(src="http://i0.kym-cdn.com/photos/images/newsfeed/000/674/934/422.jpg")
    p
      | A shiba inu is a small dog that originates from Japan and was originally bred for hunting.
      | It looks similar to an Akita, however a shiba inu is smaller than the akita.
      | Shiba come in a variety of colours such as beige and white, black and white, or white.
      | They have an independent nature and are sometimes aggressive to other dogs.
      | The are extremely loyal dogs and are adorable.
  h1 About ragdoll cats
  article
    img(src="http://pawesomecats.com/wp-content/uploads/2014/03/Ragdoll-cat.jpg")
    p
      | A ragdoll cat is a semi-longhair cat.
      | They are a cat breed that needs a lot of grooming.
      | It is known for it's calm nature.
      | Due to it's calm nature, it is a great family cat.
      | They can come in many different colours.
      | Some of these colours include red, white, and brown mixed in with other colours.
  h1 About Angular
  article
    img(src="http://codecondo.com/wp-content/uploads/2015/05/15-Directives-to-Extend-Your-Angular.js-Apps.jpg?x94435")
    P
      | AngularJS is a javascript open sourced front end web application framework made by Google employees.
      | Angular works by reading HTML pages with a custom tag of ng-app.
      | It then interprets those attributes as directives and binds it to a java variable.
      | It supports two way binding by connecting a model (some type of input) to a variable.
      | A user can access the model by using the {{}} notation in angular.
      | This binds the model input to the {{}} output.
      | Angular is great at making pages dynamic without having a backend.

mixin aboutPara
  h1 About me
  article
    img(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSWT2csc_joA8_tARau35UuaN99H8lUal0FGv3dPv5wil9Z8DXhDw")
    p
      | My name is Andrew. I am currently in my final semester at Ryerson University.
      | I have decided that I would like to go into web development as a career. Preferably, in front-end development.
      | In my spare time, I have been trying to practice my HTML5, CSS3, and JavaScript.
      | In addition to that, I am also trying to learn JQuery. Although I am not great at making a site look appealing at the moment, I hope that as time goes on, I will continue to improve.
  h1 About node.js
  article
    img("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/220px-Node.js_logo.svg.png")
    p
      | Node.js is an open source JavaScript runtime environment for server tools and applications.
      | What makes node.js appealing is that it has asynchronous input and output.
      | Node.js is used by many large corporation around the world such as Walmart, IBM, Yahoo! and much more.
      | Node.js was created in 2009 by Ryan Dahl.
      | Node.js is extremely fast and is primarily used for development of fast web servers.
  h1 About Web Application
  article
    img("http://shiftkeylabs.ca/wp-content/uploads/2016/10/web-application-banner.png")
    p
      | A web application is where a client runs in a web browser.
      | Web applications include things such as email, wikis, instant messaging, and much more.
      | Web applications are things that have similar functionality as an desktop software application.
      | An important aspect of web application is responsive web design.
      | That is to say, websites that change in appearance but provide similar functionality to their full screened counterparts.
      | Web Applications is now the basis of the internet.
  h1 Contact me at: chan.andrew1995@gmail.com

mixin bioPara
  h1 My biography
  article
    img("https://lh3.googleusercontent.com/-qRmDvvvSw70/V1JQ54e1lyI/AAAAAAAAAXs/INTs7fIUgug9O8UmuKeeUy9xJgE4TnkGw/w426-h409/Potato.png")
    p
      | My name is Andrew and I am a potato.
      br
      | I grew up in a family of 6 potatoes.
      br
      | Ever since I was a child, I have been fascinated by potatoes and insects.
      br
      | If I could become one thing in the world, it would be a potato.
      br
      | If I could eat one thing in the world, it would be potatoes.
      br
      | Potato is love.
      br
      | Potato is life.
