mixin footerInfo
  div(class='blackBar')
  section
    h4
      | Andrew Chan
      br
      | Email: chan.andrew1995@gmail.com
      br
      |
      a(href="https://en.wikipedia.org/wiki/Main_Page")
        i(class="fa fa-wikipedia-w")
      |
      a(href="https://www.facebook.com/")
        i(class="fa fa-facebook-official")
      |
      a(href="https://www.linkedin.com/")
        i(class="fa fa-linkedin")
    Copyright Copyright © 2017, Andrew Chan
