extends parent.pug

block titleInfo
  include head.pug
  +head('Index')

block navbar
  include navigation.pug
  +navbarHome

block article
  include article.pug
  +homePara

block footer
  include footer.pug
  +footerInfo
