mixin navbarHome
  ul(id='navbar')
    li(class='navbar')
        a(href='/' class='navbar active') Home
    li(class='navbar')
        a(href='/bio' class='navbar') Bio
    li(class='navbar')
        a(href='/about' class='navbar') About

mixin navbarBio
  ul(id='navbar')
    li(class='navbar')
      a(href='/' class='navbar') Home
    li(class='navbar')
      a(href='/bio' class='navbar active') Bio
    li(class='navbar')
      a(href='/about' class='navbar') About

mixin navbarAbout
  ul(id='navbar')
    li(class='navbar')
      a(href='/' class='navbar') Home
    li(class='navbar')
      a(href='/bio' class='navbar') Bio
    li(class='navbar')
      a(href='/about' class='navbar active') About
